.Page{
    height: calc(100vh - 69px);

    .Messages{
        height: calc(100vh - 69px - 58px);
        display: flex;
        flex-direction: column;
        padding: 5px;
        overflow-y: scroll;
    }
}